<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.o">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".OApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorGreen2" />

        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".user.front.UserRegisterLoginActivity"/>
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".user.detail.UserProfileActivity" />

        <activity
            android:name=".user.login.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName=".user.front.UserRegisterLoginActivity"/>
        <activity
            android:name=".user.register.RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName=".user.front.UserRegisterLoginActivity"/>
        <activity
            android:name=".post.PostActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName=".home.HomeActivity"/>
        <activity
            android:name=".detail.DetailActivity"
            android:parentActivityName=".home.HomeActivity"/>
        <activity
            android:name=".message.room.MessageActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".user.connected.ConnectedUsersActivity"
            android:parentActivityName=".home.HomeActivity"/>
        <activity
            android:name=".message.submit.NewCommentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".user.update_profile.UpdateProfileActivity"
            android:parentActivityName=".home.HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".setting.SettingActivity"
            android:parentActivityName=".home.HomeActivity"/>
        <activity
            android:name=".user.blocked.BlockedAccountActivity"
            android:parentActivityName=".setting.SettingActivity"/>
        <activity
            android:name=".user.update_password.UpdatePasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:parentActivityName=".setting.SettingActivity"/>
        <activity android:name=".detail.image.DetailPreviewImageActivity" />
        <activity
            android:name=".notification.page.NotificationListActivity"
            android:parentActivityName=".home.HomeActivity"/>

        <service
            android:name=".notification.service.OAppMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>